html, body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  font-family: 'Roboto', Arial, sans-serif;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero {
  position: relative;
  height: 100vh;
  min-height: 650px;
  background: url('./img/bg/hero.jpg')  no-repeat center center;
  background-size: cover;
}

.header {
  width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mail {
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.mail__title {
  margin-bottom: 3px;
}

.mail__content {
  background: #212121;
  color: #ffbc2f;
  padding: 5px 10px;
}

.fade-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1140px;
  height: 72%;
}

.fade-slider__item {
  height: 100%;
  background: url('./img/content/hero/slider_pic_1.png') center center / contain no-repeat;
}